<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragments :: html_head">
    <meta charset="UTF-8">
    <title>Test Page</title>
</head>
<body>
<header th:replace="fragments :: topNavBar"></header>
<aside th:replace="fragments :: sideBar"></aside>

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Manage Books</h1>
        </div>

        <!--  Alerts Area    -->
<!--        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>-->
<!--        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>-->
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:text="${success}" th:if="${success}">
            <i class="bi bi-exclamation-octagon me-1"></i>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:text="${error}" th:if="${error}">
            <i class="bi bi-exclamation-octagon me-1"></i>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                                Add Book <i class="bi bi-plus"></i></button></h5>
                            <!-- Table with stripped rows -->
                            <table class="table datatable">

                                <thead>
                                    <tr>
                                        <th scope="col">Book ID</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Edition</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Publisher</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="book: ${books}">
                                        <th th:text="${book.id}" scope="row"></th>
                                        <td th:text="${book.title}"></td>
                                        <td th:text="${book.author}"></td>
                                        <td th:text="${book.edition}"></td>
                                        <td th:text="${book.category}"></td>
                                        <td th:text="${book.price}"></td>
                                        <td th:text="${book.publisher}"></td>
                                        <td th:text="${book.copies}"></td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                <a th:href="@{/books/findById/(id=${book.id})}" class="btn btn-warning" id="editButton">Edit</a>
                                                <a th:href="@{/books/delete/(id=${book.id})}" class="btn btn-danger" id="deleteButton">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>
    <!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Book</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Floating Labels Form -->
                    <form th:action="@{/books/add}" method="post" class="row g-3">
                        <div class="col-md-12">
                            <div class="form">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form">
                                <label for="author">Author</label>
                                <input type="text" class="form-control" id="author" name="author" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form">
                                <label for="category">Category</label>
                                <input type="text" class="form-control" id="category" name="category" required>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form">
                                <label for="publisher">Publisher</label>
                                <input type="text" class="form-control" id="publisher" name="publisher" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form">
                                <label for="edition">Edition</label>
                                <input type="text" class="form-control" id="edition" name="edition" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form">
                                <label for="price">Price</label>
                                <input type="text" class="form-control" id="price" name="price" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form">
                                <label for="copies">Quantity</label>
                                <input type="number" class="form-control" id="copies" min="1" name="copies" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                    <!-- End floating Labels Form -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Add Modal-->

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Book</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Floating Labels Form -->
                    <form th:action="@{/books/update}" method="put" class="row g-3">
                        <div class="col-md-12">
                            <div class="form">
                                <label for="idEdit">Book ID</label>
                                <input type="text" class="form-control" id="idEdit" name="id" readonly>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form">
                                <label for="titleEdit">Title</label>
                                <input type="text" class="form-control" id="titleEdit" name="title" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form">
                                <label for="authorEdit">Author</label>
                                <input type="text" class="form-control" id="authorEdit" name="author" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form">
                                <label for="categoryEdit">Category</label>
                                <input type="text" class="form-control" id="categoryEdit" name="category" required>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form">
                                <label for="publisherEdit">Publisher</label>
                                <input type="text" class="form-control" id="publisherEdit" name="publisher" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form">
                                <label for="editionEdit">Edition</label>
                                <input type="text" class="form-control" id="editionEdit" name="edition" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form">
                                <label for="priceEdit">Price</label>
                                <input type="text" class="form-control" id="priceEdit" name="price" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form">
                                <label for="copiesEdit">Quantity</label>
                                <input type="number" class="form-control" id="copiesEdit" name="copies" min="1" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Update</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                    <!-- End floating Labels Form -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Edit Modal-->

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title border-0">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body border-0">
                    Are you sure you want to delete this record? This action cannot be undone.
                </div>
                <div class="modal-footer border-0">
                    <a class="btn btn-danger" id="confirmDeleteButton" href="">Delete</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Delete Modal-->

<div th:replace="fragments :: footer"></div>
</body>
</html>